{% load static %}


<style>
    .bg-white p, 
    .bg-white li {
        text-align: justify;
    }
</style>

    <div id="app" class="w-100">

        {% include "layouts/header.html" %}


<section class="py-3" style="background: linear-gradient(to right, #1d6799, #3e3070);">
    <div class="container-fluid px-5">
        <div class="bg-white py-4 px-5 shadow rounded-4" style="border-left: 6px solid #ff6f00;">
            <h3 class="mb-4 fw-bold text-dark" style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                <span style="border-left: 4px solid #ff6f00; padding-left: 10px;">About Us</span>
            </h3>

            <h5 class="py-2"><strong>Central Pollution Control Board (CPCB):</strong><br></h5>
            <p>A statutory organisation, constituted in September, 1974 under the Water (Prevention and Control of Pollution) Act, 1974. Further, CPCB was entrusted with the powers and functions under the Air (Prevention and Control of Pollution) Act, 1981. It serves as a field formation and also provides technical services to the Ministry of Environment and Forests of the provisions of the Environment (Protection) Act, 1986.</p>

            <p>Principal Functions of the CPCB involve promoting cleanliness of streams and wells in different areas of the States by prevention, control and abatement of water pollution, and improving the quality of air and to prevent, control or abate air pollution in the country.</p>

            <p>CPCB has been mandated to implement the Extended Producer Responsibility for End-of-Life Vehicles under the Environment Protection (End-of-Life Vehicles) Rules, 2025.</p>

            <h5 class="py-2"><strong>Environment Protection (End-of-Life Vehicles) Rules, 2025</strong><br></h5>
            <p>Government of India has notified Environment Protection (End-of-Life Vehicles) Rules, 2025 under Environment (Protection) Act, 1986, dated January 6, 2025 for implementation of Extended Producer Responsibility (EPR) for End-of-Life Vehicles (ELVs) and said rules came into force from April 1, 2025, to regulate the management, recycling, and disposal of ELVs in an environmentally sustainable manner.</p>

            <h5 class="py-2"><strong>Extended Producer Responsibility (EPR) Obligation:</strong><br></h5>
            <p>Producer and importer of Automobiles shall have obligation of Extended Producer Responsibility to meet the respective targets of recycling the steel recovered from End of Life Vehicles in the country by purchasing extended producer responsibility certificates from Registered Vehicle scrapping facilities (RVSFs) to ensure environmentally sound management of End of Life Vehicles.</p>

            <h5 class="py-2"><strong>EPR Portal:</strong><br></h5>
            <p>An online system developed by CPCB for management and implementation of compliance of Environment Protection (End-of-Life Vehicles) Rules, 2025 which act as single point data repository with respect to management and implementation of extended producer responsibility for End-of-Life Vehicles that encompasses the following functions but not limited to:</p>

            <ul>
                <li>Registration of all entities (Producer/ Importer/ Registered Vehicle scrapping facilities (RVSFs)/ Bulk Consumers)</li>
                <li>Filing of quarterly and annual returns and submitting other information by entities</li>
                <li>Details on availability, and obligation of the extended producer responsibility certificate</li>
                <li>Generation & Transaction/Transfer of EPR certificates</li>
                <li>Record of all the transactions</li>
                <li>Issue Guidelines and Guidance document for registration, extended producer responsibility certificate generation, fulfilment of obligation, returns</li>
                <li>Audit of EPR Compliance</li>
                <li>Levying Environmental Compensation</li>
            </ul>
        </div>
    </div>
</section>



        {% include "layouts/footer.html" %}
    
    </div>


