<!DOCTYPE html>
<html>
<head>
  <title>Launching BillDesk...</title>

  <!-- BillDesk SDK (module + fallback) -->
  <script type="module" crossorigin src="https://pay.billdesk.com/jssdk/v1/dist/billdesksdk/billdesksdk.esm.js"></script>

  <script nomodule crossorigin src="https://pay.billdesk.com/jssdk/v1/dist/billdesksdk.js"></script>

  <!-- Optional (for debugging only) -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <!-- BillDesk CSS -->
  <link rel="stylesheet" href="https://pay.billdesk.com/jssdk/v1/dist/billdesksdk/billdesksdk.css">
</head>


  <body>
    <div id="spinner" style="display: block">Launching BillDesk SDK...</div>



    <script>
      const responseHandler = function (response) {
        console.log("Callback received status:", response.status);
        if (response.status === 200) {
          const encodedres = btoa(JSON.stringify(response));
          const form = document.createElement("form");
          form.method = "POST";
          form.action = "{{ return_url }}";

          const input = document.createElement("input");
          input.type = "hidden";
          input.name = "transaction_response";
          input.value = encodedres;
          form.appendChild(input);
          document.body.appendChild(form);
          form.submit();
        } else if (response.status === 111) {
          // User closed the modal
          window.location.href = "/rvsf/dashboard/"; // 🔁 Redirect here
        } else {
          alert("SDK Error");
        }
      };

      const config = {
        responseHandler: responseHandler,
        flowConfig: {
          merchantId: "{{ merchant_id }}",
          bdOrderId: "{{ bd_order_id }}",
          authToken: "{{ auth_token }}",
          returnUrl: "{{ return_url }}",
          childWindow: false,
        },
        flowType: "payments",
      };

      window.onload = function () {
        document.getElementById("spinner").style.display = "none";
        window.loadBillDeskSdk(config);
      };
    </script>
  </body>
</html>
