{% extends 'layouts/main.html' %}

{% block content %}
{% if not request.path|slice:":6" == "/cpcb/" %}
    <div class="page-inner mb-5">
        {% if '3' in entity_types %}
        <a href="{% url 'producer_dashboard' %}" class="text-info text-decoration-none">
            <i class="icon-home fs-4"></i>
        </a>
        {% elif '2' in entity_types %}
        <a href="{% url 'consumer_dashboard' %}" class="text-info text-decoration-none">
            <i class="icon-home fs-4"></i>
        </a>
        {% else %}
        <a href="{% url 'rvsf_dashboard' %}" class="text-info text-decoration-none">
            <i class="icon-home fs-4"></i>
        </a>
        {% endif %}
        <i class="breadcrumbs icon-arrow-right fs-6 mx-4"></i>
    
        <span class="fs-5">Change Password</span>
    </div>
{% else %}
    <div class="page-inner mb-5">
        <a href="{% url 'admin_dashboard' %}" class="text-info text-decoration-none">
            <i class="icon-home fs-4"></i>
        </a>
        <i class="breadcrumbs icon-arrow-right fs-6 mx-4"></i>
    
        <span class="fs-5">Change Password</span>
    </div>
{% endif %}

    <div class="card mx-5 p-4 border border-2 border-info rounded-3">
        <!-- <div class="card-header bg-info text-white">
            <h5 class="mb-0">Change Password</h5>
        </div> -->
        <div class="mb-4" style="background-color: #e0f7fc; padding: 8px 12px; border-left: 4px solid #0dcaf0; border-radius: 4px;">
            <h5 class="mb-0 text-info"> <i class="bi bi-building me-2"></i>Change Password</h5>
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="old_password" class="form-label required">Old Password <span class="text-danger">*</span> </label>
                        <input type="password" name="old_password" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="new_password" class="form-label required">New Password <span class="text-danger">*</span> </label>
                        <input type="password" name="new_password" class="form-control" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="confirm_password" class="form-label required">Confirm Password <span class="text-danger">*</span> </label>
                        <input type="password" name="confirm_password" class="form-control" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-info w-40">Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}
