{% load static %}
{% include 'layouts/header.html' %}
<div class="container mt-5">

<h3 class="mb-4 text-center">Important Communications</h3>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Document Name</th>
            <th>View</th>
        </tr>
    </thead>

    <tbody>

    
        <tr>

            <td>Directions to SPCBs (April 2026)</td>

            <td>
                <a href="{% static 'doc/Directions_to_SPCBs_(April_2026).pdf' %}" target="_blank" class="btn btn-primary btn-sm">
                    View Document
                </a>
            </td>
        </tr>
        <tr>

            <td>CPCB Letter (Feb 2026)_RVSFs</td>

            <td>
                <a href="{% static 'doc/17022026_MRAI_RVSF_Assn.pdf' %}" target="_blank" class="btn btn-primary btn-sm">
                    View Document
                </a>
            </td>
        </tr>
        <tr>

            <td>CPCB Letter (March 2026)_Customs</td>

            <td>
                <a href="{% static 'doc/20260305_Customs.pdf' %}" target="_blank" class="btn btn-primary btn-sm">
                    View Document
                </a>
            </td>
        </tr>
        <tr>

            <td>CPCB Letter (March 2026)_MoRTH</td>

            <td>
                <a href="{% static 'doc/20260305_DS_Transport_Dept.pdf' %}" target="_blank" class="btn btn-primary btn-sm">
                    View Document
                </a>
            </td>
        </tr>
        <tr>
            <td>CPCB Letter (March 2026)_SPCBs</td>

            <td>
                <a href="{% static 'doc/20260305_MS_SPCB_PCC.pdf' %}" target="_blank" class="btn btn-primary btn-sm">
                    View Document
                </a>
        </tr>
        <tr>

            <td>CPCB Letter (March 2026)_Producers</td>

            <td>
                <a href="{% static 'doc/20260305_SIAM_ICEMA_TMA_SMEV.pdf' %}" target="_blank" class="btn btn-primary btn-sm">
                    View Document
                </a>
            </td>
        </tr>
        <tr>

            <td>CPCB_Letter_to_SPCBs_PCCs _06052025</td>

            <td>
                <a href="{% static 'doc/CPCB_Letter_to_SPCBs_PCCs_06052025.pdf' %}" target="_blank" class="btn btn-primary btn-sm">
                    View Document
                </a>
            </td>
        </tr>
        <tr>

            <td>CPCB_Letter_toSPCBsPCCs _19012026</td>

            <td>
                <a href="{% static 'doc/CPCB_Letter_to_SPCBs_PCCs_19012026.pdf' %}" target="_blank" class="btn btn-primary btn-sm">
                    View Document
                </a>
               
            </td>
        </tr>


 

    </tbody>

</table>

</div>
{% include 'layouts/footer.html' %}
