{% load static %}

    <div id="app" class="w-100">
        <!-- Header -->
        {% include "layouts/header.html" %}

        <!-- Main Section -->

<!-- Main Section - Privacy Policy -->
<section class="py-3 vh-100" style="background: linear-gradient(to right, #1d6799, #3e3070);">
    <div class="container-fluid px-5">
        <div class="bg-white py-4 px-5 shadow rounded-4" style="border-left: 6px solid #ff6f00;">
            <h3 class="mb-4 fw-bold text-dark" style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                <span style="border-left: 4px solid #ff6f00; padding-left: 10px;">Privacy Policy</span>
            </h3>

            <p>CPCB EPR portal for End-of-Life Vehicles does not automatically capture any specific personal information from you, (like name, phone number or e-mail address), unless the applicant submits the data as per the formats given in the portal for seeking EPR registration.</p>

            <p>Adequate security measures will be taken to protect your personal information. We do not sell or share any personally identifiable information submitted by applicants of the End-of-Life Vehicles EPR portal to any third party (public/private). This portal never uses individual information for commercial marketing.</p>

            <p>We may identify the users logged in the portal and the activity logs will be maintained for security purposes. If required, the law enforcement agency may exercise a warrant to inspect the service provider’s logs.</p>
        </div>
    </div>
</section>



        {% include "layouts/footer.html" %}
    
    </div>
