{% load static %}

    <div id="app" class="w-100">
        <!-- Header -->
        {% include "layouts/header.html" %}

        <!-- Main Section -->

<!-- Main Section - Refund Policy -->
<section class="py-3 vh-100" style="background: linear-gradient(to right, #1d6799, #3e3070);">
    <div class="container-fluid px-5">
        <div class="bg-white py-4 px-5 shadow rounded-4" style="border-left: 6px solid #ff6f00;">
            <h3 class="mb-4 fw-bold text-dark" style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                <span style="border-left: 4px solid #ff6f00; padding-left: 10px;">Refund Policy</span>
            </h3>

            <p>For all refund and cancellation inquiries, please reach out to the Finance Division and Waste Division-III in CPCB to initiate the refund process. Name of the concerned Person is:</p>

            <p><b>Ms. Deepti Kapil, Additional Director, WM-III: <br>
                Email ID: eprelv[dot]cpcb[at]gov[dot]in
            </b></p>

            <p><b>
                Sh. Diganta Kalita, I/c F&A Division: <br>
                Email ID: dkalita[dot]cpcb[at]nic[dot]in
            </b></p>
        </div>
    </div>
</section>



        {% include "layouts/footer.html" %}
    
    </div>
